.container
  nav.navbar(role="navigation")
    ul.nav.navbar-nav.pull-left
      li.nav__element
      a(href="#benefits").nav__element-item Преимущества
      li.nav__element
        a(href="#gallery").nav__element-item Галерея
      li.nav__element
        a(href="#book").nav__element-item Забронировать квартиру
      li.nav__element
        a(href="#video").nav__element-item Видео-презентация
    a(href="#feedback").btn.btn--primary.pull-right.fancybox Обратный звонок
    p.padright20.padtop15.pull-right.text--primary.font--md
      b 8 (8422) 50 50 60
    .clearfix
  .copy
    .row.between-xs.font--sm
      .col-xs-8
        p.font--opacity © 2015 ООО ЭЛИТ, все авторские права защищены. Любое копирование и использование
          | материалов,размещенных на сайте, возможно лишь с согласия правообладателя.
      .col-xs-3.text--right
        a.font--opacity(href="www.alkodesign.ru", target="_blank") Разработка сайта
        span.font--opacity  - АlkoDesign
