#feedback.popup
  .popup__header.text--center
      h3 Обратный звонок
  .popup__main
    form(action="", method="post")
      .row.center-xs.middle-xs
        .col-xs-2.text--right
          label Имя:
        .col-xs-8
          .box-row
            input.form-control(type="text")
      .row.center-xs.middle-xs.padtop20
        .col-xs-2.text--right
          label Телефон:
        .col-xs-8
          .box-row
            input.form-control(type="text")
        .col-xs-12.padtop40
          a(href="#").btn.btn--danger Отправить

#bookme.popup
  .popup__header.text--center
    h3 Забронировать квартиру
  .popup__main
    form(action="", method="post")
      .row.center-xs.middle-xs
        .col-xs-2.text--right
          label Имя:
        .col-xs-8
          .box-row
            input.form-control(type="text")
      .row.center-xs.middle-xs.padtop20
        .col-xs-2.text--right
          label Телефон:
        .col-xs-8
          .box-row
            input.form-control(type="text")
        .col-xs-12.padtop40
          a(href="#").btn.btn--danger Отправить